.blog {
    &-content {
        margin-bottom: 30px;

        img {
            max-width: 100%;
            border-radius: 5px 5px 0 0;
            transition: all .3s ease-in-out;

            &:hover {
                opacity: .7;
            }
        }

        &-text {
            padding: 30px 20px;
            border-left: 1px solid #ececec;
            border-right: 1px solid #ececec;
            border-bottom: 1px solid #ececec;
            border-radius: 0px 5px 5px 5px;

            h3 {
                a{
                    font-size: 18px;
                    line-height: 26px;
                    color: $text-color-dark;
                    text-transform: capitalize;
                    &:hover{
                        text-decoration: none;
                        color: $primary-color;
                    }
                }
                font-weight: 500;
            }

            a.more {
                font-size: 14px;
                font-weight: 400;
                font-family: $primary-font;
                text-transform: lowercase;
                transition: 0.3s $site-ease;
                span{
                    display: inline-block;
                    margin-left: 5px;
                }
                &:hover{
                    text-decoration: none;
                    letter-spacing: 1px;
                }
            }
        }

    }
    &-pagination{
        margin-top: 40px;
        .pagination{
            justify-content: center;
          .page-item{
            &:not(:last-child){
              margin-right: 10px;
            }
            .page-link{
              font-size: 18px;
              border-radius: 5px;
              border: none;
              padding: 12px 20px;
              color: $text-color-dark;
              font-weight: 300;
              transition: all 0.3s ease;
              font-family: $primary-font;
            }
            &.active{
              .page-link{
                background-color: $primary-color;
                color: $white;
              }
            }
          }
        }
    }
}

.post {
    text-align: center;
    padding: 200px 0;

    &-title {
        padding-bottom: 20px;

        h2 {
            font-size: 33px;
            line-height: 35px;
        }
    }

    &-metta {
        padding-bottom: 50px;

        p {
            color: #666666;

            a {
                text-decoration: underline;
            }
        }
    }

    &-image {
        img {
            max-width: 100%;
            border-radius: 6px;
        }
    }

    &-paragraph {
        text-align: left;
        padding-top: 30px;

        p {
            font-size: 22px;
            line-height: 32px;
            font-weight: 400;
            padding-bottom: 10px;
        }

        h5 {
            padding: 20px 0;
            font-size: 16px;
            font-weight: 400;
        }

        blockquote {
            font-size: 30px;
            text-align: center;
            width: 90%;
            margin: 40px auto;
        }
    }

    &-list {
        text-align: left;

        li {
            font-size: 22px;

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }

    }
}