.faq {
    @include desktop {
        text-align: center;
    }

    .text-block {
        h2 {
            @include tablet {
                margin-bottom: 40px;
            }
        }
    }

    &-content {
        margin: 0 auto 30px;

        @include mobile {
            width: 80%;
        }

        @include tablet {
            text-align: center;
        }

        h3 {
            font-weight: 500;
            margin: 0 0 10px;
            @include desktop {
                margin-top: 0;
            }
        }

        p {
            font-weight: 400;
            font-size: 14px;
        }

        a {
            text-decoration: underline;
            font-size: 14px;
        }
    }
}