.faq {
    padding: 100px 0;
    background: #fafafa;
    border-top: 1px solid #ebebeb;

    .text-block {
        h3 {
            font-size: 19px;
            margin: 60px 0 20px;
        }
    }

    &-content {
        h3 {
            font-weight: 500;
            font-size: 14px;
            margin: 60px 0 20px;
        }

        p {
            color: #666666;
            font-weight: 400;
        }

        a {
            text-decoration: underline;
            font-size: 14px;
        }
    }
}