.service {
    background: #fafafa;
    border-top: 1px solid #ebebeb;
    padding-bottom: 100px;

    &-item {
        background: $white;
        padding: 50px 30px 50px;
        text-align: center;
        border: 1px solid #0000001c;
        border-radius: 6px;
        margin-bottom: 30px;

        i {
            font-size: 90px;
            margin-bottom: 40px;
        }

        h3 {
            line-height: 26px;
        }

        p {
            font-size: 14px;
            color: #666666;
            line-height: 26px;
            padding-bottom: 40px;
        }
    }
}