.service {
    &-item {
        background: $white;
        padding: 50px 30px 50px;
        text-align: center;
        border: 1px solid #0000001c;
        border-radius: 6px;
        margin-bottom: 30px;

        i {
            font-size: 40px;
            margin-bottom: 40px;
            color: $text-color-dark;
            display: inline-block;
        }

        h3 {
            text-transform: capitalize;
            line-height: 26px;
        }

        p {
            font-size: 14px;
            color: #666666;
            line-height: 26px;
            margin-bottom: 0;
        }
    }
}