<section class="blog" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>News, updates and insights</h2>
          <p>
              With a decade of insights and expertise, we’re reimagining property so that you can focus on
              your business.
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <article class="blog-post">
          <img src="images/blog/blog-thumb-1.jpg" alt="blog-images">
          <div class="blog-content">
            <h3><a href="blog-post.html">How four tech companies use property</a></h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt, atque!</p>
            <a class="more" href="blog-post.html">Read more <span>⟶</span></a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-md-6">
        <article class="blog-post">
          <img src="images/blog/blog-thumb-2.jpg" alt="blog-images">
          <div class="blog-content">
            <h3><a href="blog-post.html">A cancer survivor built a wellness platform</a></h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            <a class="more" href="blog-post.html">Read more <span>⟶</span></a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-md-6">
        <article class="blog-post">
          <img src="images/blog/blog-thumb-3.jpg" alt="blog-images">
          <div class="blog-content">
            <h3><a href="blog-post.html">The difference between meeting and connecting</a></h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            <a class="more" href="blog-post.html">Read more <span>⟶</span></a>
          </div>
        </article>
      </div>
      <div class="col-12 text-center">
        <a href="blog.html" class="btn btn-primary">View blog page</a>
      </div>
    </div>
  </div>
</section>