<section class="cta">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cta-content">
                    <h2>Visit coHub for a day.</h2>
                    <a href="#" class="btn btn-primary mb-3">
                        Schedule your day
                    </a>
                    <p style="font-size: 12px;">or check out <a href="#">pricing plans</a></p>
                </div>
            </div>
        </div>
    </div>
</section>