<section class="clients">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Featured In</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="clients-slider">
          <div class="clients-slider-item">
            <img src="../images/client/clients01.png" alt="images">
          </div>
          <div class="clients-slider-item">
            <img src="../images/client/clients02.png" alt="images">
          </div>
          <div class="clients-slider-item">
            <img src="../images/client/clients03.png" alt="images">
          </div>
          <div class="clients-slider-item">
            <img src="../images/client/clients04.png" alt="images">
          </div>
          <div class="clients-slider-item">
            <img src="../images/client/clients03.png" alt="images">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>