<section class="contact">
    <div class="container-fulid">
        <div class="row no-gutters">
            <div class="col-lg-6">
                <div id="map">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-aria">
                    <h3>119 Rathdowne Street <br>
                        Carlton, Victoria 3001
                    </h3>
                    <ul>
                        <li> <a href="#">E: hello@stack.net</a></li>
                        <li><a href="#">P: +613 4827 2294</a></li>
                    </ul>
                    <p>Give us a call or drop by anytime, we endeavour to answer all enquiries within 24 hours on
                        business days.</p>
                    <p>We are open from 7am — 7pm week days.</p>
                </div>
            </div>
        </div>
    </div>
</section>