<section class="faq">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="faq-content text-block">
                    <h3>Frequently Asked Questions</h3>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="faq-content">
                    <h3>How do refunds work?</h3>
                    <p>Open a <a href="#">refund request</a> with us and we can work with you to resolve it ASAP.</p>
                </div>
                <div class="faq-content">
                    <h3>Can I pay using AMEX?</h3>
                    <p>Yes, we accept all major credit cards, including AMEX, so rack up those points!</p>
                </div>
                <div class="faq-content">
                    <h3>Is there a bulk-buy discount?</h3>
                    <p>We have corporate and enterprise arrangements that our pricing team can assist with on a
                        case-by-case basis.<a href="#">Contact Us</a> for info.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="faq-content">
                    <h3>Is there a minimum contract term?</h3>
                    <p>No! The beauty of our service is that you can cancel anytime you need to — no questions asked.
                    </p>
                </div>
                <div class="faq-content">
                    <h3>Do I need an SSL certificate?</h3>
                    <p>This depends on whether your plan to process the payment on your site or not. We recommend using
                        a third-party provider to unburden yourself..</p>
                </div>
            </div>
        </div>
    </div>
</section>