<section class="faq" id="faq">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <div class="faq-content text-block">
          <h2>Frequently Asked Questions</h2>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="row">
          <div class="col-lg-6">
            <div class="faq-content">
              <h3>Q. How do I apply?</h3>
              <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, consectetur?
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="faq-content">
              <h3>Q. What are entry requirements?</h3>
              <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, quasi.
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="faq-content">
              <h3>Q. Where can I find out about funding?</h3>
              <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, velit?
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="faq-content">
              <h3>Q. How do I get a reference?</h3>
              <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, repudiandae.
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="faq-content">
              <h3>Q. How can I make a change to my application?</h3>
              <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit excepturi eaque quidem
                  recusandae facere obcaecati optio, perferendis iusto maxime eligendi!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>