<section class="feature">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="feature-content">
          <h3>Coworker Spotlight</h3>
          <p class="feature-paragrap">”I started working at the Stack coworking space earlier this year and in that time
            I've met so many
            inspiring people, and made friends too. I originally joined as an office away from home but have since made
            Stack my permanent workplace.“
            </h4>
            <p>Luke launched his startup Vent with people he met while working at Stack Coworking.
            </p>
        </div>
      </div>
    </div>
</section>