<section class="footer section-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="footer-logo">
                    <img src="images/logo.png" alt="logo">
                </div>
                <div class="footer-menu">
                    <ul>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="mailto:contact@cohub.com">contact@cohub.com</a></li>
                    </ul>
                </div>
                <div class="footer-text-block">
                    <p>
                        coHub HQ, 115 W 18th St.
                        <br>
                        New York, NY 10011
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 align-self-end">
                <div class="footer-icon">
                    <ul>
                        <li>
                            <a href="#">
                                <i class="ti-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-twitter-alt" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-dribbble" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-copyright-text">
                    <p> © 2020 coHub. Inc.</p>
                    <ul>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>