<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="footer-menu">
                    <img src="../images/logo-black.png" alt="">
                    <ul>
                        <li><a href="#">Get Started</a></li>
                        <li><a href="#">help@stack.io</a></li>
                    </ul>
                </div>
                <div class="footer-text-block">
                    <p>Supercharge your web workflow</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="footer-icon">
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa fa-google" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-copyrighr-aria">
                    <p> © 2020 Stack Inc.</p>
                    <ul>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Legal</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>