<section class="popular-post">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="blog-content">
          <img src="../images/blog/blog-1.jpg" alt="blog-images">
          <div class="blog-content-text-blog" style="padding-top: 20px;text-align:center;">
            <h3>Built for teams</h3>
            <p>Ideal for large and small organisations</p>
            <a href="blog-post.html" target="_blank">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="blog-content">
          <img src="../images/blog/blog-2.jpg" alt="blog-images">
          <div class="blog-content-text-blog" style="padding-top: 20px;text-align:center;">
            <h3>Modern Aesthetic</h3>
            <p>A highly adaptable look that's simple</p>
            <a href="blog-post.html" target="_blank">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="blog-content">
          <img src="../images/blog/blog-3.jpg" alt=" blog-images">
          <div class="blog-content-text-blog" style="padding-top: 20px;text-align:center;">
            <h3>Beautiful markup</h3>
            <p>Following BEM conventions for readability</p>
            <a href="blog-post.html" target="_blank">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>