<article class="post">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="post-title">
          <h2>The difference between meeting and connecting</h2>
        </div>
        <div class="post-meta">
          <p><span>January 2nd 2020</span> in <span>Web Design</span> </p>
        </div>
        <div class="post-image">
          <img src="../images/blog/blog-feature.jpg" alt="feature-image">
        </div>
        <div class="post-body">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate eius eum dolor voluptatum autem minima magni soluta reiciendis corrupti, iste odio, minus odit voluptates rerum veritatis nam vel! Odio, totam?
          </p>
          <h3>A sample heading</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore mollitia quas maiores, error magnam distinctio doloribus fugiat ea minima incidunt odio facere nam nisi quod nobis aut quae aliquid. Atque voluptas esse voluptate. Placeat laudantium veniam, repellendus laboriosam blanditiis commodi!
          </p>
          <blockquote>
            “Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex deleniti porro impedit iure nisi, eius sapiente dolorum magni tempora harum!”
          </blockquote>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi est blanditiis totam dicta saepe, ducimus asperiores maxime omnis repudiandae perferendis. Itaque vitae cum reiciendis amet minima labore. Numquam, nemo? Cupiditate?
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui a non sit eos deleniti hic iusto odit ratione temporibus cumque sequi tempore sint omnis officiis, illum inventore. Cum, aliquid minima.
          </p>
          <ul>
            <li>List item number 01</li>
            <li>List item number 02</li>
            <li>List item number 03</li>
            <li>List item number 04</li>
            <li>List item number 05</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</article>