<section class="pricing">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Simple pricing for everyone</h2>
                    <p>Whether you're looking for a full-time workspace or are just visiting Melbourne, we've got an
                        option for everyone
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pricing-item">
                    <h3>Daily Visit</h3>
                    <span>
                        <span class="pricing-dollar">$</span>
                        19
                    </span>
                    <p>The daily visit is for those who are testing the coworking waters and out-of-towners in
                        Melbourne.</p>

                </div>
                <a href="#" class="btn btn-primary"> Purchase Now</a>
            </div>
            <div class="col-lg-4">
                <div class="pricing-item">
                    <h3>Weekly Access
                    </h3>
                    <span>
                        <span class="pricing-dollar">$</span>
                        79
                    </span>
                    <p>Allows you access to the coworking space 7 days a week between the hours of 9am - 5pm with all
                        facilities.</p>

                </div>
                <a href="#" class="btn btn-primary"> Purchase Now</a>
            </div>
            <div class="col-lg-4">
                <div class="pricing-item">
                    <h3>Anytime Weekly</h3>
                    <span>
                        <span class="pricing-dollar">$</span>
                        99
                    </span>
                    <p>Your own personal key to the coworking space for you to use anytime you like — all facilities.
                    </p>

                </div>
                <a href="#" class="btn btn-primary"> Purchase Now</a>
            </div>
        </div>
    </div>
</section>