<section class="quotes">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="quotes-slider">
          <div class="quotes-slider-item">
            <h2>Behind every great product, there is a great mind.</h2>
            <span>-TechCrunch</span>
          </div>
          <div class="quotes-slider-item">
            <h2>Behind every great product, there is a great mind.</h2> <span>-TechCrunch</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>