<section class="service" id="service">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>Why Choose us?</h2>
          <p>
              We enable people and businesses to work where they want, when they want and how they want.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item">
          <i class="ti-view-grid" aria-hidden="true"></i>
          <h3>largest network</h3>
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Error vel mollitia sit. Dicta maxime
              ullam quos sapiente eveniet odio accusamus.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item">
          <i class="ti-infinite" aria-hidden="true"></i>
          <h3>All sizes and budget</h3>
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod pariatur officia delectus commodi
              id temporibus fugit dolor excepturi iste nulla!
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item">
          <i class="ti-help-alt" aria-hidden="true"></i>
          <h3>dedicated account manager</h3>
          <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur, reiciendis. Dolore velit
              doloribus harum libero illo magni adipisci numquam placeat!
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item">
          <i class="ti-credit-card" aria-hidden="true"></i>
          <h3>Easy Payment</h3>
          <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem pariatur nostrum enim neque
              nesciunt hic repudiandae, eaque obcaecati quisquam quae?
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item">
          <i class="ti-lock" aria-hidden="true"></i>
          <h3>Dedicated Locker</h3>
          <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione dicta eos quidem dolorem eaque
              hic dolore esse nisi illum ullam!
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item">
          <i class="ti-image" aria-hidden="true"></i>
          <h3>Personalization</h3>
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. In deleniti aspernatur dicta beatae
              alias dolorum fugiat rem ullam accusamus ut!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>