<section class="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="testimonial-content">
          <h3>Valuable Feedback</h3>
          <blockquote>
            ‘We achieved a cost-savings project while achieving cultural transformation to collaborate better together.
            Our innovation lab brings ideas, skills and importantly, individuals together to enable innovation.’
            <cite>FRANCIS VAN PARYS, PRESIDENT AND CEO, GE HEALTHCARE KOREA</cite>
          </blockquote>
        </div>
      </div>
    </div>
</section>