.section {
  padding: 100px 0;

  &-title {
    text-align: center;
    margin-bottom: 100px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 100px;
      height: 5px;
      background: $text-color;
      border-radius: 5px;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%);
    }

    h2 {
      font-size: 40px;
      color: #252525;
      margin-bottom: 15px;

      @include tablet {
        font-size: 25px;
      }
    }

    p {
      width: 66%;
      margin: 0 auto;

      @include mobile-xs {
        width: 72%;
      }

      @include mobile {
        width: 90%;
      }

      @include tablet {
        font-size: 16px;
      }

      @include desktop {
        width: 100%;
      }
    }
  }
}

.section-grey {
  background: #F7F8FC;
}

.ml-25 {
  margin-left: 25px;
}

.mr-25 {
  margin-right: 25px;
}

.mb-100 {
  margin-bottom: 100px;

  @include desktop {
    margin-bottom: 50px;
  }
}

.page-title {
  padding: 200px 0 50px;
  text-align: center;

  h1 {
    margin-bottom: 15px;
  }

  .breadcrumb {
    padding: 0;
    background: transparent;
    justify-content: center;
  }

  .breadcrumb-item {
    font-family: $primary-font;

    a {
      font-weight: 600;
      color: $primary-color;
    }
  }
}